services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: inteligencia-app
    ports:
      - "3030:3030"
    restart: always
    env_file:
      - .env.local
    environment:
      - NODE_ENV=production
      - PORT=3030
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
